<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>click game</title>
</head>
<body>
<div>
    <button th:onclick="location.href='@{./increase}'" type="button" style="width:200px; height:100px;">
        button
    </button>
    <p id="count" th:text="${'My Money : ' + member.money}"></p>

    <div th:each="oneMember : ${members}">
        <p th:text="${oneMember.name + ' : ' + oneMember.money}"></p>
    </div>
</div>
</body>
</html>
